.Stamp_wrap {
    padding: 60px 25px 20px 25px;
    overflow: hidden;
    color: var(--black);
    position: relative;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .back {
            cursor: pointer;
            width: 9px;
            height: 14px;
            position: absolute;
            left: 8px;
        }

        .title {
            font-size: 16px;
            font-weight: bold;
            color: var(--black);
        }
    }

    .stamp_info {
        position: relative;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 7px;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        color: var(--maincolor);
    
        .number {
            position: absolute;
            right: 6px;
            font-size: 16px;
            font-weight: bold;
            color: var(--maincolor);
        }
    }    

    .name-wrapper {
        display: flex;
        align-items: center; 
      }
      
      .name {
        background-color: rgba(255, 255, 255, 0.2); 
        border-radius: 10px;
        padding: 3px 8px;  
        font-size: 22px;  
        font-weight: bold;
        color: var(--maincolor); 
        display: inline-block; 
      }
      
      .name-wrapper span {
        margin-left: 8px;
        font-size: 16px; 
        color: var(--maincolor);
      }
      

    .name-wrapper {
        display: flex;
        align-items: center;
    }

    .name {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 3px 8px;
        font-size: 22px;
        font-weight: bold;
        color: var(--maincolor);
        display: inline-block;
    }

    .name-wrapper span {
        margin-left: 8px;
        font-size: 16px;
        color: var(--maincolor);
    }


    .info-wrapper {
        display: flex;
        align-items: center;
        margin-top: 10px;
        position: relative;
        margin-left: 7px;

        .info-text {
            display: flex;
            flex-direction: column;
            margin-right: 105px;

            .info {
                font-size: 14px;
                font-weight: 500;
                color: var(--black);
            }
        }

        .I {
            width: 22px;
            height: 22px;
            margin-left: 25px;
            cursor: pointer;
        }
    }

    .location_info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .location {
            font-size: 14px;
            font-weight: bold;
            color: var(--maincolor);
            margin-top: 30px;
        }

        .go {
            width: 14px;
            height: 10px;
            margin-top: 27px;
            margin-left: 8px;
        }
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .popup-content {
            position: relative;
            padding: 20px;
            border-radius: 10px;
            text-align: center;

            .popup-close {
                position: absolute;
                top: 40px;
                right: 40px;
                cursor: pointer;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .popup-image {
                width: 100%;
                height: auto;
            }

            .popup-button {
                position: absolute;
                width: 305px;
                bottom: 45px;
                left: 40px;
              }
        }
    }

    .qr-reader {
        position: relative;
    }

    .bingo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 10%; 
        
        .bingo_info {
          position: relative;
          width: 100%;
          height: 100%;
          
          img {
            width: 100%;
            height: auto;
          }
      
          .stamps-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      
        .stamp {
          position: absolute;
          width: 80px;
          height: 80px;
      
          &.stamp-1 {
            top: 7px;
            left: 8px;
          }
      
          &.stamp-2 {
            top: 7px;
            left: 65px;
          }
      
          &.stamp-3 {
            top: 7px;
            right: 7px;
          }
      
          &.stamp-4 {
            top: 62px;
            left: 8px;
          }
      
          &.stamp-5 {
            top: 62px;
            left: 65px;
          }
      
          &.stamp-6 {
            top: 62px;
            right: 7px;
          }
      
          &.stamp-7 {
            bottom: 10px;
            left: 8px;
          }
      
          &.stamp-8 {
            bottom: 10px;
            left: 65px;
          }
      
          &.stamp-9 {
            bottom: 10px;
            right: 7px;
          }
      
          img {
            width: 140%;
            height: 140%;
          }
        }
      }
      

    @keyframes slideOut {
        0% {
            transform: translateX(0);
            opacity: 1;
        }

        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }

    .SlideOut {
        animation: slideOut 400ms ease-in-out forwards;
        padding: 60px 25px 20px 25px;
        overflow: hidden;
        color: var(--black);
        position: relative;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .back {
                width: 9px;
                height: 14px;
                position: absolute;
                left: 8px;
            }

            .title {
                font-size: 16px;
                font-weight: bold;
                color: var(--black);
            }
        }

        .stamp_info {
            position: relative;
            margin-top: 25px;
            margin-bottom: 10px;
            display: flex;
            font-size: 16px;
            font-weight: bold;
            color: var(--maincolor);

            .number {
                margin-left: 220px;
            }
        }

        .info-wrapper {
            display: flex;
            align-items: center;
            margin-top: 10px;
            position: relative;

            .info-text {
                display: flex;
                flex-direction: column;
                margin-right: 105px;

                .info {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--black);
                }
            }

            .I {
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
        }

        .bingo_info {
            position: relative;
            margin-top: 50px;
        }

        .location_info {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .location {
                font-size: 14px;
                font-weight: bold;
                color: var(--maincolor);
                margin-top: 20px;
            }

            .go {
                width: 14px;
                height: 10px;
                margin-top: 17px;
                margin-left: 8px;
            }
        }

        .popup {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;

            .popup-content {
                position: relative;
                padding: 20px;
                border-radius: 10px;
                text-align: center;

                .popup-close {
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    cursor: pointer;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                .popup-image {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
      }

      .alert-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.35);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      
        .alert-content {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      
          .alert-img {
            width: 345px;
            height: 429px;
          }
      
          .alert-message {
            position: absolute;
            bottom: 105px;
            color: var(--black);
            text-align: center;
            font-size: 16px;
          }
      
          .alert-check {
            position: absolute;
            bottom: 30px;
            cursor: pointer;
      
            .alert-check-img {
              width: 305px;
              height: 48px;
            }
          }
        }         
      }
